body {
  background: white;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin-bottom: 0px;
}

.App-intro {
  font-size: large;
}

.App-intro p {
  margin-top: 0px;
  margin-bottom: 0px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

rect.bordered {
  stroke: #E6E6E6;
  stroke-width:2px;
}

text.mono {
  font-size: 9pt;
  font-family: Consolas, courier;
  fill: #aaa;
}

text.axis-workweek {
  fill: #000;
}

text.axis-worktime {
  fill: #000;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 70px;
  padding: 2px;
  font: 16px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
}

.color-wrapper {
  font-size: 14px;
}
